

    <section class="primary" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <br><br><br><br><br>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                
                    <form name="sentMessage" id="contactForm" novalidate="">

                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <div class="col-md-2 nopadding">
                                    <label>Name*</label>
                                </div>
                                <div class="col-md-5">
                                    <input type="text" class="form-control" ng-model="data.name">
                                </div>
                            </div>
                        </div>

                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <div class="col-md-2 nopadding">
                                    <label>Select app*</label>
                                </div>
                                <div class="col-md-5">
                                    <select class="form-control" ng-model="data.appId">
                                        <option value="" style="display:none;">Select app from list</option>
                                        <option ng-repeat="item in appList"  value="{{item.appId}}">{{item.appName}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <div class="col-md-2 nopadding">
                                    <label>Title*</label>
                                </div>
                                <div class="col-md-5">
                                    <input type="text" class="form-control" ng-model="data.title">
                                </div>
                            </div>
                        </div>

                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <div class="col-md-2 nopadding">
                                    <label>Subtitle*</label>
                                </div>
                                <div class="col-md-5">
                                    <input type="text" class="form-control" ng-model="data.subtitle">
                                </div>
                            </div>
                        </div>

                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <div class="col-md-2 nopadding">
                                    <label>Link*</label>
                                </div>
                                <div class="col-md-5">
                                    <input type="text" class="form-control" ng-model="data.link">
                                </div>
                            </div>
                        </div>                     

                        <br>
                        <div id="success"></div>
                        <div class="row">
                            <div class="form-group col-xs-7 pull-right">                               
                               <button type="submit" class="btn btn-success btn-lg" ng-click="create()">Send Push</button></span>
                            </div>

                        </div>
                      
                    </form>
                </div>
            </div>
        </div>
    </section>

</div>

