
<div class="col-sm-12">
  <div class="form-group col-xs-12 floating-label-form-group controls">
        <div class="col-md-2 nopadding">
            <label>Select app</label>
        </div>
        <div class="col-md-3">
            <select class="form-control" ng-model="data.app">
                <option value="" style="display:none;">Select app from list</option>
                <option ng-repeat="item in appList"  value="{{item}}">{{item}}</option>
            </select>
        </div>
    </div>
</div>

<div class="col-sm-12">
  <div class="form-group col-xs-12 floating-label-form-group controls">
        <div class="col-md-2 nopadding">
            <label>Search:</label>
        </div>
        <div class="col-md-3">
             <input type="text" class="form-control" ng-model="searchText">
        </div>
    </div>
</div>

<div class="col-sm-12">
    <table class="table table-striped">
        <tr>
            <th>Push Name</th>
            <th>Device Name</th>
            <th>Total Push Send</th>
            <th>Total linked clicked</th>
        </tr>
        <tr ng-repeat="push in pushList | filter:searchText">
            <td>{{push.name}}</th>
            <td>{{push.deviceName}}</td>
            <td>{{push.totalPush}}</td>
            <td>{{push.linkClicked}}</td>
        </tr>
    </table>
</div>